{% extends 'empApp/base.html' %} {% block content %}
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>Full Name</td>
      <td>Mobile</td>
      <td>Email</td>
      <td>Position</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% if employeeList %} {% for employee in employeeList %}
    <tr>
      <td>{{ employee.full_Name }}</td>
      <td>{{ employee.mobile }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.position }}</td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="4">No employees found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
