{% extends 'empApp/base.html' %} {% block content %}
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>Full Name</td>
      <td>Mobile</td>
      <td>Email</td>
      <td>Position</td>
      <td>
        <a href="{% url 'employeeForm' %}" class="btn btn-outline-success">
          <i class="fas fa-plus"></i> Add New
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% if employeeList %} {% for employee in employeeList %}
    <tr>
      <td>{{ employee.full_Name }}</td>
      <td>{{ employee.mobile }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.position }}</td>
      <td>
        <a
          href="{% url 'employeeUpdate' employee.id %}"
          class="btn text-secondary px-0"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <form
          action="{% url 'employeeDelete' employee.id %}"
          method="post"
          class="d-inline"
        >
          {% csrf_token %}
          <button type="submit" class="btn">
            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="4">No employees found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock content %}
